* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: #222;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 999;
    top: 0;
    

}


ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

/* Navbar Toggle */
.toggle {
    cursor: pointer;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.bars:before,
.bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars:before {
    top: 5px;
}

.bars:after {
    top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius: 50em;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        text-decoration: none;
        transition: all .25s;
    }

    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}

/* nav bar code ends */

/* homed code starts */
.homed {
    background-image: url("assets/images/WhatsApp Image 2023-06-28 at 6.23.37 PM.jpeg");
    width: 100%;
    height: 800px;
    margin-top: 30px;
}

.content {
    position: absolute;
    top: 35%;
    left: 2%;
    height: 800px;
}

.content.title {
    color: rgb(160, 37, 37);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    margin-bottom: 14px;
    background: linear-gradient(100deg, #1c99fe 10.69%, #7644ff 40.19%, #fd4766 69.69%);
    -webkit-text-fill-color: transparent;
}

.content h1 {
    color: rgb(76, 78, 78);
    font-size: 75px;
    font-weight: 900;
    text-transform: inherit;
    width: 75%;
}

.content h1 span {
    color: #fd4766;
}

.content p {
    width: 50%;
    color: rgb(97, 99, 99);
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: large;

}

@media all and (max-width: 400px) {
    .homed {
        background-image: url("assets/images/bg.jpeg");
        width: 100%;
        height: 800px;
        margin-top: 10px;
    }

    .content {
        position: absolute;
        top: 35%;
        left: 3%;
        height: 800px;
    }

    .content.title {
        color: rgb(160, 37, 37);
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        display: inline-block;
        margin-bottom: 14px;
        background: linear-gradient(100deg, #1c99fe 10.69%, #7644ff 40.19%, #fd4766 69.69%);
        -webkit-text-fill-color: transparent;
    }

    .content h1 {
        color: rgb(76, 78, 78);
        font-size: 25px;
        font-weight: 900;
        text-transform: inherit;
        width: 75%;
        margin-top: 20px;
    }

    .content h1 span {
        color: #fd4766;
    }

    .content p {
        width: 100%;
        color: rgb(216, 212, 212);
        margin-top: 25px;
        margin-bottom: 30px;
    }
}

.ml7 {
    font-size: smaller;
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
}

.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

/* homed code ends */


/* about page code starts */
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

.di2 {
    background-color: #f4d291;
    opacity: 60%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;

}

/* about page code ends */

/* project code starts */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.card2 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;

}

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
}

.service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.service-box .ico-circle i {
    line-height: 0;
    font-size: 40px;
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

.service-box .s-description {
    color: #4e4e4e;
}

.btn {
    color: rgb(2, 68, 22);
    font-size: 16x;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s case-in-out;
    background-size: 152% 100%;
    background: crimson;
    border: 2px solid #fd4766;
}

.btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

/* project code ends */